html {background-color: #01182b;margin: 0;}
h1,h4,h3, h5,h6,h2 {margin-block-end: 0;margin-block-start: 0;}
body {width: 100%; position: relative; margin: 0; font-family: Helvetica Neue,Helvetica,Arial,メイリオ\, meiryo,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,sans-serif;}
ol,ul, li {margin-block-start: 0; margin-block-end: 0; list-style-type: none; padding-inline-start:0;}
p {display: inline-block;margin-block-start: 0px;margin-block-end: 0px;margin-inline-start: 0px;margin-inline-end: 0px;}
p, h1, h2, h3, h4, h5, h6, a, label, aside {color: #f1f1f1;}
h1 {font-size: 30px;}
figure {margin-block-start: 0;margin-block-end: 0;margin-inline-start: 0px;margin-inline-end: 0px;}
@keyframes ldio-0gkg81ar46i {0% { transform: rotate(0deg); }100% { transform: rotate(90deg); }}
.ldio-0gkg81ar46i > div {position: absolute;width: 200px;height: 200px;top: 0;left: 0; border-radius: 50%;}
.ldio-0gkg81ar46i div:nth-child(1) { background: #e90c59; border-radius: 50%;}
.ldio-0gkg81ar46i div:nth-child(2) div {border-radius: 50%;position: absolute;left: -200px;width: 600px;height: 600px;opacity: 0.4;transform-origin: 300px 300px;animation: ldio-0gkg81ar46i linear infinite 3.0303030303030303s;}
.ldio-0gkg81ar46i div:nth-child(2) div:nth-child(1) {border-radius: 50%;top: -500px;border-radius: 180px;background: #a9f6ff;animation-duration: 1.009090909090909s;}
.ldio-0gkg81ar46i div:nth-child(2) div:nth-child(2) {border-radius: 50%;top: -520px;border-radius: 190px;background: #00e6ff;animation-duration: 1.5151515151515151s;}
.ldio-0gkg81ar46i div:nth-child(2) div:nth-child(3) {border-radius: 50%;top: -540px;border-radius: 200px;background: #0be7ff;}
.loadingio-spinner-fluid-nww6j88yem {border-radius: 50%;width: 200px;height: 200px;display: inline-block;overflow: hidden;background: #ffffff;}
.ldio-0gkg81ar46i {border-radius: 50%;width: 100%;height: 100%;position: relative;transform: translateZ(0) scale(1);backface-visibility: hidden;transform-origin: 0 0;}
.ldio-0gkg81ar46i div {border-radius: 50%; box-sizing: content-box; }
.Intro {width: 100%; height: 100%; display: inline-block; overflow: hidden; text-align: center; background-color: #01182b;}
.Intro h1 {font-weight: normal;}
.Intro span {color: #8f00ff;}
.introLoader {width: 250px; height: 250px; display: inline-block; margin: 100px 0;}


@media only screen and (min-width: 640px) {
    
}
@media only screen and (min-width: 890px) {
    
}